{% extends 'layout.html' %} {% block content%}
<div class="flex justify-center flex-col w-[40rem] mx-auto gap-5 mb-20">
  {% for post in posts %}
  <div class="px-10 py-10 border rounded-lg border-gray-200">
    <a href="#" class="group block flex-shrink-0">
      <div class="flex items-center">
        <div class="ml-3">
          <p class="text-base leading-6 font-medium text-white">
            {{post.author}}
            <span class="text -sm leading-5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150">
              @{{post.author}} {{post.date_posted}}
            </span>
          </p>
        </div>
      </div>
    </a>
    <p class="flex items-center justify-center hover:text-pink-600">
      {{ post.content }}
    </p>
    <div class="flex flex-shrink-0 p-4 pb-0 items-center justify-center"></div>
  </div>

  {% endfor %}
</div>
<form method="post" action="/quack" class="fixed bottom-6 bg-gray-900 left-0 right-0 p-2 opacity-0 hover:opacity-100 transition-opacity duration-300" id="hover-form">
  <textarea name="quack_content" class="w-full p-2 bg-gray-800 border border-gray-700 rounded focus:outline-none focus:border-blue-500" placeholder="What's on your mind?"></textarea>
  <button class="mt-2 px-4 py-0 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600" type="submit">
      Post
  </button>
</form>

{% endblock content %}
