<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    {% if title %}
    <title>Tweeter - {{title}}</title>
    {% else %}
    <title>Tweeter</title>  
    {% endif %}
</head>
<div>
<body class="bg-nice">
    <nav class="topnav">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="about">About</a>
            <a class="split" class="nav-link" href="profile">My Profile</a>
            <a class="split" class="nav-link" href="register">Register</a>
    </nav>
    <div class="conatiner">{%block content%} {% endblock %}</div>
</body>
</html>