<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    {% if title %}
    <title>QUACKER - {{title}}</title>
    {% else %}
    <title>Quacker</title>
    {% endif %}
</head>
<div>
<body class="bg-nice">
    <nav class="topnav">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="about">About</a>
            <a class="split" class="nav-link" href="profile">My Profile</a>
            <a class="split" class="nav-link" href="login">Login</a>
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="conatiner">{%block content%} {% endblock %}</div>
    <div class="footer">
        <p>Copyright &copy; Duckers 2023</p>
      </div>
</body>
</html>