{% extends 'layout.html' %} {% block content %}
<div class="flex flex-col items-center justify-center h-screen">
  <h1 class="text-3xl text-white font-bold mb-6 hover:text-pink-600">Registration Page</h1>

  <form method="post" action="/register" class="bg-gray-900 p-8 rounded shadow-md">
    <div class="container">
      <h1 class="text-white">Please fill in this form to create an account.</h1>
      <hr />
      <label class="text-white" for="username"><b>UserName</b></label>
      <input type="text" placeholder="Enter Username" name="username" class="w-full p-2 mb-4 bg-gray-800 border border-gray-700 rounded focus:outline-none focus:border-blue-500" required/>
      <label class="text-white" for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" class="w-full p-2 mb-4 bg-gray-800 border border-gray-700 rounded focus:outline-none focus:border-blue-500" required/>
      <label class="text-white" for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="password_repeat" class="w-full p-2 mb-4 bg-gray-800 border border-gray-700 rounded focus:outline-none focus:border-blue-500" required/>
      <hr/>
      <p class="text-white"> By creating an account you agree to our <a href="TOS">Terms & Privacy</a></p>
      <button type="submit"class="w-full px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600"> Register </button>
    </div>
    <div class="container signin mt-4">
      <p class="text-white"> Already have an account? <a href="/login" class="text-blue-500 hover:underline">Sign in</a> </p>
    </div>
  </form>
</div>
{% endblock content %}
